#canvas-container {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
  
  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  